# Dependencias de Node
/node_modules

# Logs y Debugging
npm-debug.log*
yarn-error.log
.pnp
.pnp.js

# Directorios de Logs y Temporales
/logs
/tmp

# Archivos de Entorno y Configuraciones Sensibles
.env
.env.*
config.local.js
secrets.json

# Build Artifacts (si compilas tu código, por ejemplo con TypeScript)
/dist
/build

# Archivos de Test
/coverage

# Archivos del Sistema Operativo
.DS_Store
Thumbs.db

# Editores y IDEs (opcional, ajusta según necesidad)
.vscode/